<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> </title>
    </head>
    <body>
      <h1>Current player is <%= name %> </h1>
      <h1>You have chosen: paper</h1>
      <h1>Your opponent has chosen: <%= opponentMove %> </h1>
      <h1>Outcome: <%= evaluation %>  </h1>
      <form action="/name" method="post">
        <input type="submit" value="play again">
      </form>
    </body>
  </html>
